.home{
	/* This image will be displayed fullscreen */
	background-image: url('img/Kayle.jpg');
	background-repeat: no-repeat;
	background-attachment: center;
	background-position: center;

	/* Ensure the html element always takes up the full height of the browser window */
	min-height:100%;

	/* The Magic */
	background-size:cover;
}
.home:after{
	content: ' ';
	background: rgba(58, 110, 165, 0.7);
}
body{
	background-color: #f9f9f9;
	color: #333;
	min-height: 100%;
}

nav{
	height: 70px;
	margin-bottom: -70px;
	background: transparent;
	z-index: 1000;
	position: relative;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	copy

}

nav .brand-logo{
	color: #55AA55;
	text-shadow: 2px 2px 2px black;
	transition: color 0.5s ease;
}
nav .brand-logo:hover{
	color: #116611;
}
.home{
	overflow: hidden;
	position: relative;
	height: 100vh;
}
.home .imagen{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.home .imagen:before{
	content: ' ';
	background: rgba(58, 110, 165, 0.7);
}
.home .imagen img {
	max-width: 100%;
}
.home .content{
	margin-left: auto;
	margin-right: auto;
}
.container.z-depth-1{
	background-color: #fff;
}
h1{
	color: lightgoldenrodyellow;
	width: 100%;
	text-shadow: 4px 4px 2px #0E0E0E;
}
.section{
	padding: 1rem;
}
.section:hover{
	background-color: #f9f9f9;
}
.btn{
	background-color: #116611;
}
.btn:hover{
	background-color: #55AA55;
}
.btn i{
	margin-right: 1rem;
	line-height: 20px;
}
.tabs{
	background-color: #226666;
}
.tabs .tab a{
	color: #fff;
}
.tabs .tab a:hover{
	color: #669999;
}
.tabs .indicator{
	background-color: #669999;
}
table>thead>tr{
	color: #226666;
}

footer.page-footer{
	background-color: #2D882D;
}
.collapsible{
	color: #F7F7F7;
}
.collapsible-header{
	background-color: #226666;
}
.collapsible-header:hover {
    background-color: #407F7F;
}
.collection .collection-item{
	background-color: #fff;
	color: #333;
}
.collection .collection-item:hover {
    background-color: #f2f2f2;
    cursor: default;
}
.collection-item>i.material-icons {
    width: 2rem;
    font-size: 1.6rem;
    float: left;
    text-align: center;
    margin-right: 1rem;
}

.social-media{
	list-style-type: none;
}
.social-media li{
	display: inline-block;
}

.social-media i{
	color: #fff;
}
.social-media i:hover{
	opacity: 0.7;
}
.social-media li a [class*=" fa-circle"], .social-media li a [class^=fa-circle]{
	color: rgba(51,51,51,0.08);
}

footer.page-footer a{

}