<!DOCTYPE html>
<html ng-app="torneoApp">
	<head>
		<link rel="icon" href="img/Pinguino.png" type="image/png"/>
		<link rel="shortcut icon" href="img/Pinguino.png" type="image/png"/>
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<!--Import materialize.css-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
		<link rel="stylesheet" href="app.css">
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta charset="UTF-8">
		<title>2do Torneo LoL Univalle Tuluá</title>

		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<!-- <script src="app.js"></script> -->
		<script>
			angular.module('torneoApp', [])
			  .controller('TeamController', function($scope, $http) {
			     $http.get('univallelol.json').success(function(data) {
			         $scope.equipos = data;
			     });
			  });
		</script>
	</head>

	<body ng-controller="TeamController">
		<nav class="z-depth-0">
		  <div class="nav-wrapper">
		    <a target="_blank" href="http://ingeniux.co" class="brand-logo center">Ingeniux</a>
		  </div>
		</nav>

		<div class="home valign-wrapper">
			<div class="home-wrapper"></div>
			<h1 class="center-align">Torneo LoL Univalle Tuluá</h1>
		</div>
		<div class="container z-depth-1">
			<div class="section center-align">
				<a target="_blank" class="btn" href="http://twitch.tv/areddevil7"><i class="fa fa-twitch fa-lg"></i>Transmisiones</a>
				<a target="_blank" href="https://docs.google.com/document/d/1i2E74HQVgPbTkOOwcE8uZQQRWC4vW8T_mhBFaUnTObM/edit?usp=sharing" class="btn"><i class="fa fa-list fa-lg"></i>Reglamento</a>
			</div>
			<div class="section">
				<h3 class="center-align">Estadísticas de grupos</h3>
				<div class="row">
					<div class="col s12"> 
						<ul class="tabs"> 
							<li class="tab col s3"><a href="#grupoA">Grupo A</a></li>
							<li class="tab col s3"><a href="#grupoB">Grupo B</a></li>
							<li class="tab col s3"><a href="#grupoC">Grupo C</a></li>
						</ul>
					</div>
					<div id="grupoA" class="col s12">
						<table class="highlight centered responsive-table z-depth-1">
							<colgroup>
							    <col style="width: 10%">
							    <col style="width: 70%">
							    <col style="width: 20%">
							</colgroup>
					        <thead>
					          <tr>
					          	  <th data-field="posicion">#</th>
					              <th data-field="nombre">Nombre</th>
					              <th data-field="puntos">Puntos</th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr ng-repeat="equipo in equipos | filter:{grupo:'A'} | orderBy:'-puntos'">
					          	<td>{{$index + 1}}</td>
					            <td>{{equipo.nombre}}</td>
					            <td>{{equipo.puntos}}</td>
					          </tr>
					        </tbody>
					      </table>
					</div>
					<div id="grupoB" class="col s12">
						<table class="highlight centered responsive-table z-depth-1">
							<colgroup>
							    <col style="width: 10%">
							    <col style="width: 70%">
							    <col style="width: 20%">
							</colgroup>
					        <thead>
					          <tr>
					          	  <th data-field="posicion">#</th>
					              <th data-field="nombre">Nombre</th>
					              <th data-field="puntos">Puntos</th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr ng-repeat="equipo in equipos | filter:{grupo:'B'} | orderBy:'-puntos'">
					          	<td>{{$index + 1}}</td>
					            <td>{{equipo.nombre}}</td>
					            <td>{{equipo.puntos}}</td>
					          </tr>
					        </tbody>
					      </table>
					</div>
					<div id="grupoC" class="col s12">
						<table class="highlight centered responsive-table z-depth-1">
							<colgroup>
							    <col style="width: 10%">
							    <col style="width: 70%">
							    <col style="width: 20%">
							</colgroup>
					        <thead>
						       <tr>
					          	  <th data-field="posicion">#</th>
					              <th data-field="nombre">Nombre</th>
					              <th data-field="puntos">Puntos</th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr ng-repeat="equipo in equipos | filter:{grupo:'C'} | orderBy:'-puntos'">
					          	<td>{{$index + 1}}</td>
					            <td>{{equipo.nombre}}</td>
					            <td>{{equipo.puntos}}</td>
					          </tr>
					        </tbody>
				      </table>
				</div>
			</div>
			</div>
			<div class="section">
			<h3 class="center-align">Equipos</h3>
				<div class="row">
					<div class="col l4 s12">
						<h4 class="center-align">Grupo A</h4>
						<ul class="collapsible popout" data-collapsible="accordion">
						  <li ng-repeat="equipo in equipos | filter:{grupo:'A'}">
						    <div class="collapsible-header"><i class="material-icons">people</i>{{equipo.nombre}}</div>
						    <div class="collapsible-body">
						    	<ul class="collection">
						    	  <li class="collection-item" ng-repeat="jugador in equipo.jugadores"><i class="material-icons">person</i>{{jugador}}</li>
						    	</ul>
						    </div>
						  </li>
						</ul>
					</div>
					<div class="col l4 s12">
						<h4 class="center-align">Grupo B</h4>
						<ul class="collapsible popout" data-collapsible="accordion">
						  <li ng-repeat="equipo in equipos | filter:{grupo:'B'}">
						    <div class="collapsible-header"><i class="material-icons">people</i>{{equipo.nombre}}</div>
						    <div class="collapsible-body">
						    	<ul class="collection">
						    	  <li class="collection-item" ng-repeat="jugador in equipo.jugadores"><i class="material-icons">person</i>{{jugador}}</li>
						    	</ul>
						    </div>
						  </li>
						</ul>
					</div>
					<div class="col l4 s12">
						<h4 class="center-align">Grupo C</h4>
						<ul class="collapsible popout" data-collapsible="accordion">
						  <li ng-repeat="equipo in equipos | filter:{grupo:'C'}">
						    <div class="collapsible-header"><i class="material-icons">people</i>{{equipo.nombre}}</div>
						    <div class="collapsible-body">
						    	<ul class="collection">
						    	  <li class="collection-item" ng-repeat="jugador in equipo.jugadores"><i class="material-icons">person</i>{{jugador}}</li>
						    	</ul>
						    </div>
						  </li>
						</ul>
					</div>
				</div>
				
				
				
				
			</div>


		</div>

		<footer class="page-footer">
		  <div class="container">
		    <div class="row">
		      <div class="col s12">
		        <h5 class="white-text">Ingeniux</h5>
		        <p class="grey-text text-lighten-4">Grupo de Usuarios de Software Libre - Universidad del Valle sede Tuluá.</p>
				<ul class="social-media">
					<li><a target="_blank" href="https://www.facebook.com/ingeniuxco"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x"></i></span></a></li>
					<li><a target="_blank" href="https://twitter.com/ingeniuxco"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span></a></li>
					<li><a target="_blank" href="https://www.github.com/ingeniuxco"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x"></i></span></a></li>
					<li><a target="_blank" href="https://ingeniuxco.wordpress.com"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-wordpress fa-stack-1x"></i></span></a></li>
				</ul>
		      </div>
		    </div>
		  </div>
		  <div class="footer-copyright">
		    <div class="container">
		    © 2016 Ingeniux
		    </div>
		  </div>
		</footer>

		
		<!--Import jQuery before materialize.js-->
		
	</body>
</html>